<!DOCTYPE html>
<html lang="es">
    <head>
        <title>Productora | Dos Alamos</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

        <link rel="stylesheet" href="styles/banner.css">
        <link rel="stylesheet" href="styles/banneringreso.css">
        <link rel="stylesheet" href="styles/bannerproductos.css">
        <link rel="stylesheet" href="styles/blog.css">
        <link rel="stylesheet" href="styles/fontello.css">
        <link rel="stylesheet" href="styles/footerproductos.css">
        <link rel="stylesheet" href="styles/groups.css">
        <link rel="stylesheet" href="styles/info.css">
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="styles/menu.css">
        <link rel="stylesheet" href="styles/productodetalle.css">
        <link rel="stylesheet" href="styles/productos.css">
        <link rel="stylesheet" href="styles/productoslista.css">

    </head>
    
    <body>
        <header>
            <div class="contenedor">
                <h1 class="#">Dos Alamos</h1>
                <input type="checkbox" id="menu-bar">
                <label class="icon-menu" for="menu-bar"></label>
                <nav class="menu">
                    <a href="#">INICIO</a>
                    <a href="#">PRODUCTOS</a>
                    <a href="#">GRUPOS</a>
                    <a href="#">DESTACADOS</a>
                    <a href="#">BLOG</a>
                    <a href="#">INICIAR SESION</a>
                    <a href="#">REGISTRATE</a>
                </nav>
            </div>
        </header>
        
        <main>
            <section id="bannerlog">
                <img src="images/banner.jpg">
                <div class="contenedor">
                    <h1>
				        Ingresa a tu Cuenta <br>
				        y haz tu solicitud!				
				    </h1>
                    
                </div>
            </section>
            
            <section id="informacion">
                <h3>INGRESA CON TU CUENTA</h3>
                <div class="contenedor">
                    <!-- AQUI PONER FORMULARIO DE LOGIN -->
                </div>
            </section>
        </main>
        
        <footer>
            <div class="contenedor">
                <p class="copyright">Dos Alamos &copy; 2019</p>
                <div class="redesociales">
                    <a class="icon-facebook-circled" href="#"></a>
                    <a class="icon-twitter-circled" href="#"></a>
                    <a class="icon-instagram-circled" href="#"></a>
                </div>
            </div>
        </footer>
    </body>
</html>