{% extends 'comercio/base.html' %}

{% load static %}

{% block content %}

        <main>
            <section id="bannerproduct">
                <img src="{% static 'comercio/img/banner.jpg' %}">
                <div class="contenedor">
                    <h1>
				        Seleccione  <br>
				        su productor Preferido!
				    </h1>

                </div>
            </section>

            <section id="nuestrosproductoslistado">
                <h2>NUESTROS PRODUCTORES</h2>
                <div class="contenedor">
                    {% for productor in productores %}
                    <article>
                        <a href="{% url 'productor_detail' pk=productor.pk %}"><img src="{{ productor.photo.url }}" alt="Producto Dispionible"></a>
                        <h3><a href="{% url 'productor_detail' pk=productor.pk %}">{{ productor.pyme }}</a></h3>
                        <h4>{{ productor.direccion }}</h4>
                        <br>
                        <a href="{% url 'productor_detail' pk=productor.pk %}" class="botoncomprar">Ver Mercado</a>
                    </article>
                    {% endfor %}
                </div>
            </section>

        </main>

{% endblock %}
