{% extends 'comercio/base.html' %}

{% load static %}

{% block content %}

        <main>
            <section id="bannerproduct">
                <img src="{% static 'comercio/img/banner.jpg' %}">
                <div class="contenedor">
                    <h1>
				        Seleccione  <br>
				        su productor Preferido!
				    </h1>

                </div>
            </section>

            <section id="nuestrosproductoslistado">
                <h2>NUESTROS PRODUCTORES</h2>
                <div class="contenedor">
                    {% for productor in productores %}
                    <article>
                        <img src="{{ productor.photo.url }}" alt="Productor Detalle" >
                        <h4 id="Producto_name"><b>{{ productor.pyme }}</b></h4>
                        <h3>{{ productor.direccion }}</h3>
                        <button type="submit">Comprar</button>
                    </article>
                    {% endfor %}
                </div>
            </section>

        </main>

{% endblock %}
