{% extends 'comercio/base.html' %}

{% load static %}

{% block content %}

        <main>
            <section id="bannerlog">
                <img src="{% static 'comercio/img/banner.jpg'%}">
                <div class="contenedor">
                    <h1>
				        Crea tu Cuenta Productor<br>
				        y se parte de Nosotros!
				    </h1>

                </div>
            </section>

            <section id="informacion">
                <h3>FORMULARIO SOLICITUD CUENTA</h3>
                <form action="." method="POST" enctype="multipart/form-data">
                <div class="contenedor">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                    <button>Registrar Cuenta</button>
                </div>
                </form>
            </section>
        </main>


{% endblock %}